.svg-icon {
    color: inherit;
    fill: currentColor;
    vertical-align: middle;
    user-select: none;

    &_size_s {
        height: $icon-size-s;
        width: $icon-size-s;
    }

    &_size_m {
        height: $icon-size-m;
        width: $icon-size-m;
    }

    &_size_l {
        height: $icon-size-l;
        width: $icon-size-l;
    }
}
