@mixin colorize($outlined, $main, $hover, $active, $shadow, $onlyIcon) {
    border-color: $main;

    @if $outlined {
        color: $main;
    } @else if $onlyIcon {
        color: $main;
    } @else {
        background-color: $main;
    }

    &:hover {
        border-color: $hover;

        @if $outlined {
            color: $hover;
        } @else if $onlyIcon {
            color: $hover;
        } @else {
            background-color: $hover;
        }
    }

    &:active {
        border-color: $active;

        @if $outlined {
            color: $active;
        } @else if $onlyIcon {
            color: $active;
        } @else {
            background-color: $active;
        }
    }

    &:focus {
        @if $onlyIcon {

        } @else {
            box-shadow: $shadow;
        }
    }
}

@mixin colorize_primary($outlined, $onlyIcon) {
    @include colorize(
        $outlined,
        $color-control-primary,
        $color-control-primary-hover,
        $color-control-primary-active,
        $shadow-control-primary,
        $onlyIcon
    );
}

@mixin colorize_secondary($outlined, $onlyIcon) {
    @include colorize(
        $outlined,
        $color-control-secondary,
        $color-control-secondary-hover,
        $color-control-secondary-active,
        $shadow-control-secondary,
        $onlyIcon
    );
}

@mixin colorize_tertiary($outlined, $onlyIcon) {
    @include colorize(
        $outlined,
        $color-control-tertiary,
        $color-control-tertiary-hover,
        $color-control-tertiary-active,
        $shadow-control-tertiary,
        $onlyIcon
    );
}

@mixin colorize_success($outlined, $onlyIcon) {
    @include colorize(
        $outlined,
        $color-control-success,
        $color-control-success-hover,
        $color-control-success-active,
        $shadow-control-success,
        $onlyIcon
    );
}

@mixin colorize_warning($outlined, $onlyIcon) {
    @include colorize(
        $outlined,
        $color-control-warning,
        $color-control-warning-hover,
        $color-control-warning-active,
        $shadow-control-warning,
        $onlyIcon
    );
}

@mixin colorize_danger($outlined, $onlyIcon) {
    @include colorize(
        $outlined,
        $color-control-danger,
        $color-control-danger-hover,
        $color-control-danger-active,
        $shadow-control-danger,
        $onlyIcon
    );
}

.button {
    position: relative;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;

    display: inline-flex;
    align-items: center;

    padding: 0;
    outline: 0;
    text-align: center;
    white-space: nowrap;

    transition-duration: 200ms;
    transition-property: background-color, border-color, color, width;
    transition-timing-function: ease;

    border: $border-size-s solid transparent;
    color: $color-text-on-color;

    &__content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item:not(:last-child) {
        padding-right: $padding / 2;
    }

    &_disabled {
        cursor: default;
        pointer-events: none;
    }

    &_fluid {
        width: 100%;
    }

    &_size_s {
        height: $control-height-s;
        padding: 0 $padding;
        font-size: $font-size-s;

        &.button_icon {
            width: $control-height-s;
            padding: 0;
        }
    }

    &_size_m {
        height: $control-height-m;
        padding: 0 $padding * 1.25;
        font-size: $font-size-m;

        &.button_icon {
            width: $control-height-m;
            padding: 0;
        }
    }

    &_size_l {
        height: $control-height-l;
        padding: 0 $padding * 1.5;
        font-size: $font-size-m;
        font-weight: $font-weight-medium;

        &.button_icon {
            width: $control-height-l;
            padding: 0;
        }
    }

    &_color_primary {
        &.button_outlined {
            @include colorize_primary(
                true,
                false
            );
        }
        &.button_only-icon {
            @include colorize_primary(
                false,
                true
            );
        }
        &:not(.button_outlined):not(.button_only-icon) {
            @include colorize_primary(
                false,
                false
            );
        }
    }

    &_color_secondary {
        &.button_outlined {
            @include colorize_secondary(
                true,
                false
            );
        }
        &.button_only-icon {
            @include colorize_secondary(
                false,
                true
            );
        }
        &:not(.button_outlined):not(.button_only-icon) {
            @include colorize_secondary(
                false,
                false
            );
        }

        &.button_outlined,
        &:not(.button_outlined):not(.button_only-icon) {
            color: $color-text-tertiary;
            border-color: $color-text-tertiary;

            &:hover {
                color: $color-text-tertiary;
                border-color: $color-text-tertiary;
            }

            &:active {
                color: $color-text-tertiary;
                border-color: $color-text-tertiary;
            }
        }
    }

    &_color_success {
        &.button_outlined {
            @include colorize_success(
                true,
                false
            );
        }
        &.button_only-icon {
            @include colorize_success(
                false,
                true
            );
        }
        &:not(.button_outlined):not(.button_only-icon) {
            @include colorize_success(
                false,
                false
            );
        }
    }

    &_color_tertiary {
        &.button_outlined {
            @include colorize_tertiary(
                true,
                false
            );
        }
        &.button_only-icon {
            @include colorize_tertiary(
                false,
                true
            );
        }
        &:not(.button_outlined):not(.button_only-icon) {
            @include colorize_tertiary(
                false,
                false
            );
        }
    }

    &_color_warning {
        &.button_outlined {
            @include colorize_warning(
                true,
                false
            );
        }
        &.button_only-icon {
            @include colorize_warning(
                false,
                true
            );
        }
        &:not(.button_outlined):not(.button_only-icon) {
            @include colorize_warning(
                false,
                false
            );
        }
    }

    &_color_danger {
        &.button_outlined {
            @include colorize_danger(
                true,
                false
            );
        }
        &.button_only-icon {
            @include colorize_danger(
                false,
                true
            );
        }
        &:not(.button_outlined):not(.button_only-icon) {
            @include colorize_danger(
                false,
                false
            );
        }
    }

    &_color_link {
        height: unset;
        border: 0;
        padding: 0;
        color: $color-text-primary;
        background-color: transparent;
    }

    &_only-icon {
        &.button_outlined,
        &:not(.button_outlined) {
            height: unset;
            border: 0;
            padding: 0;
            background-color: transparent;
        }
    }

    &_shape_circle {
        border-radius: 50%;
        padding: $padding / 2;
    }

    &_shape_round {
        border-radius: $border-radius;
    }

    &_outlined {
        background-color: transparent;
    }

    &__spin {
        &:not(.button_outlined) {
            border-color: $color-text-on-color;
            border-right-color: transparent;
        }
    }
}
