.paper {
    background-color: $color-control-background;
    color: $color-content;
    border-radius: $border-radius;

    &_elevation_1 {
        box-shadow: $shadow1;
    }

    &_elevation_2 {
        box-shadow: $shadow2;
    }

    &_square {
        border-radius: 0;
    }

    &_padded {
        padding: $padding;
    }

    &_fluid {
        flex: 1;
    }

    &_outlined {
        box-shadow: none;
        border: $border-size-s solid;
        border-color: $color-control-border;
    }
}
