

.paper {
    background-color: $color-background;
    color: $color-content;
    border-radius: $border-radius;
    box-shadow: $shadow;
    padding: $padding;

    &_square {
        border-radius: 0;
    }

    &_fluid {
        width: 100%;
    }

    &_variant_outlined {
        background-color: transparent;
        box-shadow: none;
        border: $border-size-s solid;
        border-color: $color-control-border;
    }
}
