.grid {
    position: relative;
    vertical-align: middle;
    flex-shrink: 0;
    box-sizing: border-box;

    &_type_container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &_type_column {
        display: inline-flex;
    }

    &_padded {
        padding: 0 $padding;
    }

    &_center {
        justify-content: center;
    }
}

$sizes: ("xs": 544px, "sm": 544px, "md": 768px, "lg": 992px, "xl": 1200px);

@function grid-fluid-width($cols) {
    @return percentage($cols / $base--columns);
}

@each $id, $size in $sizes {
    @if $id == 'xs' {
        @media all and (max-width: #{$size}) {
            @for $i from 1 through $base--columns {
                .grid_#{$id}_#{$i} {
                    max-width: grid-fluid-width($i);
                    flex: 0 0 grid-fluid-width($i);
                }
            }
        }
    } @else {
        @media all and (min-width: #{$size}) {
            @for $i from 1 through $base--columns {
                .grid_#{$id}_#{$i} {
                    max-width: grid-fluid-width($i);
                    flex: 0 0 grid-fluid-width($i);
                }
            }
        }
    }
}
