.list-item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: $padding $padding * 1.5;
    text-decoration: none;
    color: $color-text;
    border-radius: $border-radius;
    cursor: pointer;

    &_disabled {
        color: $color-cool-gray-300;
    }

    &:hover:not(.list-item_disabled),
    &_selected {
        background-color: $color-background-info;
    }

    &__text {
        flex: 1 1 auto;
    }
}
