.typography {
    margin: 0;

    &_gutterBottom {
        margin-bottom: $padding;
    }

    &_align_right {
        text-align: right;
    }

    &_align_center {
        text-align: center;
    }

    &_align_left {
        text-align: left;
    }
}
