*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-text;
    font-family: $font;
    font-size: $font-size-s;
    font-style: normal;
    font-weight: $font-weight-normal;
    letter-spacing: 0;
}
