.alert {
    &__content {
        display: flex;
        align-items: center;
    }

    &__text {
        flex: 1;
    }

    &_type_info &__content {
        background-color: $color-background-info;
        color: $color-text-primary;
    }

    &_type_success &__content {
        background-color: $color-background-success;
        color: $color-text-success;
    }

    &_type_error &__content {
        background-color: $color-background-error;
        color: $color-text-error;
    }

    &_type_warning &__content {
        background-color: $color-background-warning;
        color: $color-text-warning;
    }

    &__icon {
        margin-right: $padding;
    }

    &__close-button {
        margin-left: $padding;
    }
}
