.alert {
    &_type_success .paper {
        background-color: $color-control-background-success;
        color: $color-control-content-on-color;
    }

    &_type_error .paper {
        background-color: $color-control-background-error;
        color: $color-control-content-on-color;
    }

    &_type_warning .paper {
        background-color: $color-control-background-warning;
        color: $color-control-content-on-color;
    }

    &__actions {
        padding-top: $padding;
        text-align: right;

        & > * {
            margin-right: $padding / 2;

            &:last-child {
                margin-right: 0;
            }
        }

    }

    &__action {
        color: $color-control-content-on-color;
    }

    &__action {
        color: $color-control-content;
        margin-left: $padding;

        & .button {
            background-color: transparent;
            color: inherit;
        }
    }

    &__icon {
        margin-right: $padding;
    }

    &__content {
        display: flex;
        align-items: center;
    }
}
