.modal {
    position: fixed;
    z-index: 500;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;

    &_center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__backdrop {
        z-index: -1;
        position: fixed;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        transition: background-color 0.3s ease-out 0s;
        background-color: transparent;

        &_transitionState_entered {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    &__close-button {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(calc(100% + #{$padding}));
    }

    &__dialog {
        position: relative;
        opacity: 0;
        transition: opacity 0.3s ease-out 0s;

        &_transitionState_entered {
            opacity: 1;
        }
    }
}
