@import 'theme/variables';

.checkbox {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    color: $color-border;

    &_disabled {
        opacity: $opacity-disabled;
    }

    &__label {
        padding-left: $padding / 4;
    }

    &__icon {
        padding-right: $padding / 4;
        text-align: center;
        flex: 0 0 auto;
        border-radius: 50%;
    }

    &__input {
        cursor: inherit;
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 1;
    }
}
