
$color-content: #000;
$color-content-minor: #96a1b5;
$color-content-on-color: #fff;
$color-content-on-color-minor: #acadae;

$color-background: #f7f7f7;

$color-control-content: #000;
$color-control-content-on-color: #fff;
$color-control-content-primary: #2387fb;

$color-control-background: #fff;
$color-control-background-primary: #2387fb;
$color-control-background-primary-hovered: lighten($color-control-background-primary, 3%);
$color-control-background-success: #00c853;
$color-control-background-success-hovered: lighten($color-control-background-success, 3%);
$color-control-background-error: #f44336;
$color-control-background-error-hovered: lighten($color-control-background-error, 3%);
$color-control-background-warning: #ff9800;
$color-control-background-warning-hovered: lighten($color-control-background-warning, 3%);

$color-control-border: #dadada;
$color-control-border-hovered: #2387fb;

$color-border: #000;
$color-border-on-color: #fff;
