
$color-content: #000;
$color-content-minor: #96a1b5;
$color-content-on-color: #fff;
$color-content-on-color-minor: #acadae;

$color-background: #f7f7f7;

$color-background-control: #fff;
$color-background-control-primary: #2387fb;
$color-background-control-success: #00c853;
$color-background-control-error: #f44336;

$color-border: #000;
$color-border-on-color: #fff;

$color-border-control: #000;
$color-border-control-hovered: #2387fb;
