@import './primitive-colors.scss';

// text
$color-text: $color-cool-gray-900;
$color-text-tertiary: $color-cool-gray-500;
$color-text-on-color: #FFFFFF;

$color-text-primary: $color-indigo-500;
$color-text-secondary: $color-cool-gray-400;
$color-text-success: $color-green-500;
$color-text-warning: $color-orange-500;
$color-text-error: $color-red-500;

// background
$color-background: #F2F2F2;
$color-background-normal: $color-cool-gray-50;
$color-background-info: $color-indigo-50;
$color-background-success: $color-green-50;
$color-background-warning: $color-orange-50;
$color-background-error: $color-red-50;

$color-background-tertiary: $color-cool-gray-100;

// control background
$color-control-primary: $color-indigo-500;
$color-control-primary-hover: $color-indigo-600;
$color-control-primary-active: $color-indigo-700;
$color-control-secondary: $color-cool-gray-100;
$color-control-secondary-hover: $color-cool-gray-200;
$color-control-secondary-active: $color-cool-gray-300;
$color-control-success: $color-green-500;
$color-control-success-hover: $color-green-600;
$color-control-success-active: $color-green-700;
$color-control-warning: $color-orange-500;
$color-control-warning-hover: $color-orange-600;
$color-control-warning-active: $color-orange-700;
$color-control-danger: $color-red-500;
$color-control-danger-hover: $color-red-600;
$color-control-danger-active: $color-red-700;

// input background
$color-input-primary: $color-indigo-400;
$color-input-primary-hover: $color-indigo-500;
$color-input-primary-active: $color-indigo-600;
$color-input-secondary: $color-cool-gray-100;
$color-input-secondary-hover: $color-cool-gray-200;
$color-input-secondary-active: $color-cool-gray-300;
$color-input-success: $color-green-400;
$color-input-success-hover: $color-green-500;
$color-input-success-active: $color-green-600;
$color-input-warning: $color-orange-400;
$color-input-warning-hover: $color-orange-500;
$color-input-warning-active: $color-orange-600;
$color-input-danger: $color-red-400;
$color-input-danger-hover: $color-red-500;
$color-input-danger-active: $color-red-600;

// border
$color-border-primary: $color-indigo-200;
$color-border-secondary: $color-cool-gray-200;
$color-border-success: $color-green-200;
$color-border-warning: $color-orange-200;
$color-border-danger: $color-red-200;

$color-border: $color-cool-gray-300;
$color-border-hover: $color-indigo-500;

$color-backdrop: #ffffffe6;

// deprecated
$color-control-content: #000;
$color-control-content-minor: lighten($color-control-content, 30%);
$color-control-content-on-color: #fff;
$color-control-content-primary: #2387fb;

$color-control-background: #fff;
$color-control-background-primary: #2387fb;
$color-control-background-minor: lighten($color-control-background-primary, 35%);
$color-control-background-primary-hovered: lighten($color-control-background-primary, 3%);
$color-control-background-success: #00c853;
$color-control-background-success-hovered: lighten($color-control-background-success, 3%);
$color-control-background-error: #f44336;
$color-control-background-error-hovered: lighten($color-control-background-error, 3%);
$color-control-background-warning: #ff9800;
$color-control-background-warning-hovered: lighten($color-control-background-warning, 3%);

$color-control-border: #dadada;
$color-control-border-hovered: #2387fb;

// $color-border: #000;
$color-border-minor: #96a1b5;
$color-border-on-color: #fff;
