$shadow1: rgba(0, 0, 0, 0.1) 0px 2px 6px 0;
$shadow2: rgba(0, 0, 0, 0.25) 0px 2px 6px 0;
$shadow-primary-hovered: lighten($color-control-background-primary, 40%) 0px 0px 3px 2px;
$shadow-success-hovered: lighten($color-control-background-success, 40%) 0px 0px 3px 2px;
$shadow-error-hovered: lighten($color-control-background-error, 40%) 0px 0px 3px 2px;
$shadow-warning-hovered: lighten($color-control-background-warning, 40%) 0px 0px 3px 2px;

$shadow-control-primary: 0 0 0 4px $color-indigo-200;
$shadow-control-secondary: 0 0 0 4px $color-cool-gray-200;
$shadow-control-success: 0 0 0 4px $color-green-200;
$shadow-control-warning: 0 0 0 4px $color-orange-200;
$shadow-control-danger: 0 0 0 4px $color-red-200;
$shadow-control-tertiary: 0 0 0 4px $color-cool-gray-500;

$shadow-input-normal: 0 0 6px $color-indigo-400;
$shadow-input-success: 0 0 6px $color-green-400;
$shadow-input-warning: 0 0 6px $color-orange-400;
$shadow-input-danger: 0 0 6px $color-red-400;

$shadow-control-normal: 0 0 6px $color-indigo-500;
$shadow-control-success: 0 0 6px $color-green-500;
$shadow-control-warning: 0 0 6px $color-orange-500;
$shadow-control-danger: 0 0 6px $color-red-500;
